* {
    box-sizing: border-box;
    
}

body {
    background: linear-gradient(to right,#d8c600,#FFA500,#FF0000);
  }

:focus {
    background-color: #FFA500;
}

input {
    display: block;
    align-content: center;
    height: 35px;
    border-bottom: 5px #FF0000 ;
    

}

.search-container {
    display: block;
    margin: auto;
    margin-top: 45%;
    justify-content: center;
    width: 200px;
    height: 45px;
}

.search-container input,
.search-container .suggestions {
    background:  #ffffff42;
    border: #d8c60000;
    border-bottom: 1px solid #FF0000;
}

.search-container .suggestions {
    background-color:  #ffffff42;
    width: 200px;
    max-height: 150px;
    overflow-y: scroll;
    z-index: 1;
    padding: 0px;
}

  ul {
    list-style: none;
    margin: 0%;
    max-width: 100%;
    z-index: 2;
    padding:0%;
  }

  .suggestions {
    max-width: 180px;
    background-color: #ffffff42;

  }
  ul.has-suggestions {
    background-color: #ffffff42;
    
  }
  ul li {
    background-color: #ffffff42;

  }
  ul li:hover {
    background-color: #CC5500 ;
    font-weight: bold;
  }


